.color-button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  width: 9em;
  height: 2.5em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(
    90deg,
    #1b09c0,
    #1b09c0b2,
    #1b09c079,
    #1b09c0b2,
    #1b09c0
  );
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  animation: ani 10s linear infinite;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 400%;
  }
  100% {
    background-position: 0%;
  }
}

.color-button:befor {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
  /* filter: blur(10px); */
}
.color-button:hover:before {
  /* filter: blur(10px); */
}

.color-button:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}
