@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* ScrollBar Styling Start */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1c1917;
  border-radius: 14px;
  border: 1px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1c1917;
}

/* ScrollBar Styling End */

.react-date-picker__wrapper {
  padding: 10px 30px;
  border-radius: 4px;
  border-color: #0ea5e9;
}
.react-calendar {
  background-color: #0ea5e9;
  padding: 10px;
  border-radius: 4px;
  border-color: transparent;
}
.react-date-picker__calendar.react-date-picker__calendar--open {
  top: 110% !important;
  transform: translateX(-20%);
}
.react-calendar__month-view__weekdays {
  display: grid !important;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  justify-items: center;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
}
.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
/* NavBar  */
.react-calendar__navigation {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  /* background-color: #0ea5e9; */
  font-size: 30px;
}
/* February 2024  */
.react-calendar__navigation__label {
  flex-grow: 0 !important;
  font-size: 18px !important;
}
/* Every Day  */
.react-calendar__tile.react-calendar__month-view__days__day {
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
  /* border-radius: 100%; */
}
.react-calendar__tile.react-calendar__tile--active.react-calendar__month-view__days__day {
  background-color: white;
  color: #0ea5e9;
}
.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day {
  background-color: #014a6b;
  border: 1px solid #0ea5e9;
  /* padding: 5px;
  margin: 5px; */
  color: white;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* For Check Box  */
.checkbox {
  --background: #fff;
  --border: #d1d6ee;
  --border-hover: #bbc1e1;
  --border-active: #1e2235;
  --tick: #fff;
  position: relative;
  input,
  svg {
    width: 21px;
    height: 21px;
    display: block;
  }
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow 0.3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
    &:hover {
      --s: 2px;
      --b: var(--border-hover);
    }
    &:checked {
      --b: var(--border-active);
    }
  }
  svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    transform: scale(var(--scale, 1)) translateZ(0);
  }
  &.path {
    input {
      &:checked {
        --s: 2px;
        transition-delay: 0.4s;
        & + svg {
          --a: 16.1 86.12;
          --o: 102.22;
        }
      }
    }
    svg {
      stroke-dasharray: var(--a, 86.12);
      stroke-dashoffset: var(--o, 86.12);
      transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
    }
  }
  &.bounce {
    --stroke: var(--tick);
    input {
      &:checked {
        --s: 11px;
        & + svg {
          animation: bounce 0.4s linear forwards 0.2s;
        }
      }
    }
    svg {
      --scale: 0;
    }
  }
}

@keyframes bounce {
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
